*{
	font-family: "Tw Cen MT",Helvetica, sans-serif;
}
div{
	display: inline;
	height: 70px;
	background: yellow;
	padding: 10px;
	font-size: 24px;
	width: 200px;
	margin: 15px;
}
.text-capitalize{
	text-transform: capitalize;
}
.div-middle{
	background: red;
}
.text-upper{
	text-transform: uppercase;
}