*{
	font-family: "Tw Cen MT",Helvetica, sans-serif;
}
div{
	background: #BDBDBD;
	border: 1px solid black;
	width: 80px;
	height: 80px;
	margin: 10px;
}
.padre{
	width: 300px;
	height: auto;
}
.hijo{
	display: inline-block;
	margin-right: 0px;
}
.sin-fondo{
	background: none;
	border: none;
	margin-left:0px;
}